/* CSS RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}


/* ID */

/* projects {
	display: inline-block;
}*/

#footermessage {
	font-style: italic;
	text-align: right;
}